
<div class="mainbox">
    <div class="innerBox">
     
       <div class="forchrome">
        <app-logo></app-logo>
        <p>For Chrome</p>
       </div>
        <div class="Companydetailbox">
            <div class="Companydetailboxinner">
                <img class="loginSecondLogo" src="../../../../assets/images/loginSecondLogo.png"/>
                <div class="CompanydetailText">
                    <p>Paste Perfect is ready to use, but key features are missing</p>
                </div>
            </div>
        </div>

        <div class="details">
            <h1>Sign up to access the following features:</h1>
            <ul>
                <li>
                    <span class="circicleicon">
                        <img src="../../../../assets/images/tick.svg" alt="">
                    </span> <span>Ai Address Formatting</span></li>
                <li>
                    <span class="circicleicon">
                        <img src="../../../../assets/images/tick.svg" alt="">
                    </span> <span>Copy from Anywhere</span></li>
                <li>
                    <span class="circicleicon">
                        <img src="../../../../assets/images/tick.svg" alt="">
                    </span> <span>Fill Addresses instantly</span></li>
            </ul>
        </div>

        <div class="loginbtn">
            <button type="submit" (click)="gotoRegister()">Sign Up</button>
            <p>Already have an account? <a href="javascript:;" (click)="gotoLogin()">Login Now</a> </p>
        </div>
    </div>

</div>