<div class="logoroot">
    <div class="logo" *ngIf="!generalSettings?.darkMode">
        <!-- <img src="../../../../../assets/images/logo.svg"> -->
        <img id="headerLogoIcon" src="../../../../../assets/images/PastePerfectLogoLight.png">
        <!-- <h1>paste perfect</h1> -->
    </div>
    <div class="logo" *ngIf="generalSettings?.darkMode">
        <!-- <img src="../../../../../assets/images/logo.svg"> -->
        <img id="headerLogoIcon" src="../../../../../assets/images/PastePerfectLogoDark.png">
        <!-- <h1>paste perfect</h1> -->
    </div>
</div>